
services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"

  php:
    build:
      context: .
      dockerfile: Dockerfile

  db:
    image: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: test_database
      MYSQL_ROOT_PASSWORD: example
      MYSQL_USER: test
      MYSQL_PASSWORD: test