version: "3.9"

services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html

  php:
    build:
      context: .
      dockerfile: Dockerfile
      container_name: laravel_php
      restart: unless-stopped
      volumes:
        - ./src:/var/www/html

  db:
    image: mysql
    restart: always
    ports:
      - "3306:3306"
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      MYSQL_DATABASE: test_database
      MYSQL_ROOT_PASSWORD: example
      MYSQL_USER: test
      MYSQL_PASSWORD: test